@{
    ViewBag.Title = "About";
}
<link href="~/Content/Site.css" rel="stylesheet" />

<div class="about-section">
    <h2>ABOUT</h2>

    <div class="story">
        <h3>Our Story</h3>
        <div class="story-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel nisi sit amet augue vestibulum gravida.</p>
            <img src="~/Content/Images/f1.jpg" alt="Our Story" />
        </div>
    </div>

    <div class="team">
        <h3>Our Team</h3>
        <div class="team-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu efficitur nulla. Curabitur nec purus ut enim tincidunt ultrices.</p>
            <img src="~/Content/Images/f2.jpg" alt="Team Member" />
        </div>
        <div class="team-info">
            <p>1901/V &nbsp;&nbsp;&nbsp;&nbsp; 60M2</p>
            <p>Annual &nbsp;&nbsp;&nbsp;&nbsp; Expection Goolit Leaston</p>
        </div>
    </div>
</div>
