@{
    ViewBag.Title = "Home Page";
}

    


<main class="main">
    <section>

        <div class="img-container">
            <img src="~/Content/Images/f1.jpg" alt="Restaurant Interior" />
            <div class="text-on-image">
                <h2>Welcome to Our Restaurant</h2>
                <p>Experience fine dining like never before.</p>
            </div>
        </div>

    </section>
    <section class="features">
        <div class="left-cotainer">
            <h2>Featured Dishes</h2>
            <p>Welcome to our restaurant, where every dish tells a story of rich flavors and tradition. Our featured dishes include the mouth-watering Paneer Tikka, marinated with aromatic spices and grilled to perfection. Enjoy our Butter Chicken, a creamy and flavorful North Indian classic that melts in your mouth. Savor the royal taste of our Biryani Platter, layered with fragrant basmati rice, tender meat or vegetables, and slow-cooked with love. Complement your meal with freshly baked Tandoori Naan, crispy on the outside and soft inside. And don’t miss our chilled Mango Lassi, a sweet and refreshing yogurt drink that's perfect for any season</p>
        </div>
        <div class="features-img-container">
            <img src="~/Content/Images/f2.jpg" />
        </div>
    </section>

    <h2 style="padding:10px;">About Dishes</h2>
    <section class="about-us">
        <div>
            <img src="~/Content/Images/a1.jpg" />
            <h4>Chineses Food</h4>
            <p>
                Chinese food is renowned for its bold flavors, aromatic spices, and diverse cooking techniques. From savory stir-fries to delicate dim sum, it offers a rich culinary heritage loved worldwide.
            </p>
        </div>
        <div>
            <img src="~/Content/Images/a3.jpg" />
            <h4>North-Indian Food</h4>
            <p>
                North Indian food is known for its rich gravies, aromatic spices, and use of dairy like paneer, cream, and ghee. Popular dishes include butter chicken, dal makhani, and naan breads.
            </p>
        </div>
        <div>
            <img src="~/Content/Images/a2.jpg" />
            <h4>South-Indian Food</h4>
            <p>South Indian food is celebrated for its tangy, spicy flavors and use of rice, coconut, and lentils. Signature dishes include dosa, sambar, idli, and rasam, often served with a variety of chutneys.</p>
        </div>

    </section>
    <section class="reserve">
        <h3>Researve a Table</h3>
        <button>Reserve Now</button>
    </section>
</main>